
body {
  background-color: black;
  text-align : center;
  color : white
}
#terrain {
  background-image: url("../../../images/ciel-nocturne.png");
  background-size: cover;
  border : solid 10px white;
}
